body {
    font-family: "Open Sans";
    color: aquamarine;
    background-color: mediumpurple;
}

h2 {
    margin-top: -5px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 240px;
    padding: 20px;
    border-radius: 10px;
    background-color: orchid;
    border: 3px solid blue;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.celula {
    width: 75px;
    height: 65px; 
    font-size: 30pt;
    margin: 4px 2px;
    font-weight: 300;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: gold;
}

.botao-recarregar {
    display: block; /* Para que o botão ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    margin-top: 20px;
    padding: 10px 20px; /* Adiciona preenchimento interno ao botão */
    border: 2px solid white; /* Adiciona uma borda sólida de 2px com cor #333 */
    background-color: lightskyblue; /* Define a cor de fundo como CADETblue */
    color: black; /* Define a cor do texto como branco */
    cursor: pointer; /* Transforma o cursor em uma mãozinha quando hover */
}
